.next__bouton{
    display :flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 250px;
    margin: auto;
    background-color: $enseigne-color__fond;
    text-align: center;
    color: $enseigne-color__texte;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-family: $enseigne-font__texte;
    font-size: 1.5em;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
    
    p {
        margin: 10px;
    }
}

.suspension{
    content:"";
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 60px;
    height: 15px;
    &_point{
        background-color: $enseigne-color__suspension;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        animation: points 2s ease-in-out infinite alternate backwards;
        @for $i from 1 through 3{
            &--#{$i}{
                animation-delay: 0.3s*$i;
            }
        }
    }
}