

/*h1{
    background-color: $enseigne-color__fond;
    color: $enseigne-color__texte;
    font-family: $enseigne-font__titre;
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    &:hover{
        cursor: pointer;
    }


}*/