@font-face {
  font-family: "belligerent";
  src: url("fonts/Belligerent-Madness/belligerent.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}
/*Orinoco*/
.next__bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: auto;
  background-color: #f3e9f1;
  text-align: center;
  color: #261624;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  font-family: "montserrat", "Arial";
  font-size: 1.3em;
  text-decoration: none;
}
.next__bouton:hover {
  cursor: pointer;
}
.next__bouton p {
  margin: 10px;
}

.suspension {
  content: "";
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 60px;
  height: 15px;
}
.suspension_point {
  background-color: #ae44a1;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  animation: points 2s ease-in-out infinite alternate backwards;
}
.suspension_point--1 {
  animation-delay: 0.3s;
}
.suspension_point--2 {
  animation-delay: 0.6s;
}
.suspension_point--3 {
  animation-delay: 0.9s;
}

@keyframes points {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  95% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}
header {
  background-color: #f3e9f1;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  background-color: #eaeaea;
}

body {
  background-color: white;
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
  box-shadow: 0 0 10px #c8c8c8;
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}

p {
  font-family: "montserrat", "Arial";
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 15%;
  left: 15%;
}
.main-footer > a {
  color: #261624;
  font-family: "montserrat", "Arial";
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .main-footer {
    right: 0;
    left: 0;
  }
}

.wiggle:hover {
  animation: wiggle 2.5s infinite;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 120px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 10px;
}

input:focus, textarea:focus {
  background-color: #ddd;
}

input:invalid, textarea:invalid {
  border: solid 1px red;
}

textarea {
  vertical-align: top;
  height: 5em;
}

button {
  padding: 15px 25px;
  margin-top: 15px;
  font-size: 1.2em;
}

.accueil-prev {
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .accueil-prev {
    flex-direction: column;
    align-items: center;
  }
}

.accueil-prev__carte {
  box-shadow: 0 0 10px #c8c8c8;
  background-color: #fcdeda;
  margin: auto;
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.accueil-prev__carte:hover {
  cursor: pointer;
  opacity: 0.7;
  animation: grow 0.5s ease-in-out forwards;
}
@media screen and (max-width: 600px) {
  .accueil-prev__carte {
    width: 90%;
  }
}

.accueil-prev__carte-produit {
  box-shadow: 0 0 10px #c8c8c8;
  background-color: #fcdeda;
  margin: auto;
  padding: 20px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .accueil-prev__carte-produit {
    width: 90%;
  }
}

.accueil-prev__titre {
  font-size: 1.5em;
  font-weight: 500;
  font-family: "belligerent", "Arial";
}

.accueil__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-carte__header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  font-size: 2em;
}

.menu-carte {
  max-width: 600px;
  margin: auto;
  padding: 40px 40px 80px 40px;
  box-shadow: 0 0 10px #c8c8c8;
}
@media screen and (max-width: 600px) {
  .menu-carte {
    padding: 10px 10px 50px 10px;
  }
}
.menu-carte--note {
  padding-top: 80px;
}

.menu-carte__titre {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.7em;
  font-weight: 500;
}
.menu-carte__titre--note {
  margin: 0;
}
.menu-carte__titre--chic {
  font-size: 1.9em;
}
.menu-carte__titre--delice {
  font-size: 3.5em;
}
.menu-carte__titre--palette {
  font-size: 3.5em;
}

.menu-carte__conteneur h4 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 1.4em;
}
.menu-carte__conteneur div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 0.7em;
}
.menu-carte__conteneur div p:nth-child(1) {
  width: 100%;
  text-align: left;
  padding-right: 20px;
  margin: 10px 0 0px 0;
}
.menu-carte__conteneur div p:nth-child(2) {
  text-align: right;
  font-weight: bold;
  margin: 10px 0 0px 0;
}

.menu__underline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__underline h4 {
  font-size: 2em;
}
.menu__underline h4:hover + .plat__underline {
  width: 100%;
  height: 2px;
  transform-origin: left;
  animation: underline 0.5s ease-in-out;
}

.plat-liste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.plat-liste div {
  font-size: 1.1em;
  width: 100%;
}

.menu-carte__plat {
  align-items: center;
  margin-bottom: 20px;
}
.menu-carte__plat h4 {
  width: 100%;
}
.menu-carte__plat img {
  width: 30%;
  margin-top: 32px;
}

.enseigne-footer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  font-weight: 200;
}
.enseigne-footer img {
  margin: 1em 10px 0 0;
  height: 50px;
}
.enseigne-footer h3 {
  margin-bottom: 0px;
  font-weight: 400;
}

.total {
  font-size: 1.7em;
  padding: 20px;
  margin: 30px;
  background-color: #f3e9f1;
  border-radius: 15px;
  box-shadow: 0 0 10px #c8c8c8;
}

/*# sourceMappingURL=style.css.map */
