html{
    background-color: #eaeaea;

}

body{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 100px;
    @include shadow;
    @include mobile-tablette{
        width: 100%;
    }
}

p{
    font-family: $enseigne-font__texte;
}