@font-face{
    font-family:'belligerent';
    src: url('fonts/Belligerent-Madness/belligerent.ttf');
}

@font-face{
    font-family:'montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face{
    font-family:'montserrat-bold';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}


/*Orinoco*/
$enseigne-color__fond: #f3e9f1;
$enseigne-color__fond-carte: #fcdeda;
$enseigne-color__texte: #261624;
$enseigne-color__suspension: #ae44a1;
$enseigne-font__titre: 'belligerent', 'Arial';
$enseigne-font__texte: 'montserrat', 'Arial';



$breakpoints: (
    mobile: 600px,
    tablette: 900px,
);